/* Default Colors Style */
$primary: #336aea;
$secondaryColor: #10b981;
$blackColor: #2a3547;
$bodyTextColor: #5a6a85;
$whiteColor: #ffffff;
$white-smokeColor: #f5f5f5;
$dawn-pinkColor: #ebebeb;
$red-violetColor: #d30082;
$font-fourteen: 14px;
$font-fifteen: 15px;
$font-sixteen: 16px;
$font-seventeen: 17px;
$font-eighteen: 18px;
$transition: 0.7s;

/* Default Fonts Style */
// $main-font-family: "Inter", sans-serif;
// $heading-font-family: "Plus Jakarta Sans", sans-serif;
