/* Alexandria Arabic 400 */
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./alexandria-arabic-400.woff2) format('woff2');
  unicode-range: U+0600-06FF,U+0750-077F,U+0870-088E,U+FB50-FDFF,U+FE70-FEFC;
}
/* Alexandria Latin 400 */
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./alexandria-latin-400.woff2) format('woff2');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+2000-206F,U+20AC,U+2122,U+FEFF,U+FFFD;
}
/* Alexandria Arabic 700 */
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./alexandria-arabic-700.woff2) format('woff2');
  unicode-range: U+0600-06FF,U+0750-077F,U+0870-088E,U+FB50-FDFF,U+FE70-FEFC;
}
/* Alexandria Latin 700 */
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./alexandria-latin-700.woff2) format('woff2');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+2000-206F,U+20AC,U+2122,U+FEFF,U+FFFD;
}
